blt
db
fronttools

# Ignore Drupal's file directory
*/sites/*/files
*/sites/*/private
*/files-private
private

# Ignore Drupal's local settings file.
*/sites/*/settings.local.php
*/sites/*/local.settings.php


# Ignore custom theme's source files.
*/themes/custom/*/src

.lando.yml
acquia-pipelines.yml