.s-footer {
  background: $c-blue-D1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .region {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include desktop {
      //width: 100%;
    }

    &-footer-first {
      @include desktop {
        margin-bottom: 20px;
      }
    }
    &-footer-second {
      color: $c-gray-L1;
      font-size: 0.8em;

      > .block:last-child {
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include tablet {
          display: block;
        }
      }
    }
    > .block:first-child {
      display: none;
      @include tablet {
        display: block;
        margin-right: 50px;
        flex: 1;
      }
    }


  }
  p {
    margin: 5px;
  }
  img {
    display: block;
  }

}

#block-copyright {
  display: none;
  @include tablet {
    display: block;
  }
}

