.s-sidebar {

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
  }

  @include desktop {
    flex: unset;
    display: block;
  }
  .region {
    @include tablet {
      width: 48.5%;
    }
    @include desktop {
      width: 100%;
    }
  }
}