#block-dpt-content .a2a_kit {
  padding-bottom: 10px;
  margin-bottom: 5px;
  display: block;
  border-bottom: 1px solid $c-gray-L2;
  height: 32px;
  line-height: 1;
  overflow: hidden;

  .a2a_label {
    display: none;
  }

  >a {
    font-size: 16px;

    &:first-child {
      padding-left: 0;
    }
  }
}