.facebook-debug {
  float: left;
  padding: 5px 10px;
  background: $c-blue-D1;
  text-decoration: none;
  color: white;
  margin-right: 20px;
  @include transition();
  &:hover {
    background: $c-blue;
  }
}