.s-info-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: $c-1;
  margin: 0 -10px;
  font-size: 0.875em;
  @include x-wide {
    .news--card-small & {
      font-size: 0.6em;
    }
  }
  &__element {
    margin: 5px 10px;
    padding-left: 1.7em;
    position: relative;
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      font-family: "Material Design Icons";
      line-height: 1;
      font-size: 1.125em;
      }
    &--date::after {
      content: mdi(calendar);
    }
    &--time {
      flex: 1;
      &::after {
        content: mdi(clock-outline);
      }
    }
    &--view::after {
      content: mdi(eye);
    }
    &--photo::after {
      content: mdi(camera);
      color: $color-orange;
    }
    &--video::after {
      content: mdi(video);
      font-size: 1.45em;
      color: $color-orange;
    }
  }
  &--light {
    color: $c-3-L10;
  }
  &--feed {
    justify-content: flex-start;
    margin: 0;
    .s-info-line__element {
      margin-left: 0;
      margin-right: 0;
    }
    .s-info-line__element:nth-child(2) {
      margin-right: 0;
    }
    .s-info-line__element:nth-child(3) {
      margin-left: 0;
    }
  }
}