.pager {
  &__items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  &__item {
    display: inline-block;
    margin: 5px;
    padding: 0;
    @include transition();
    &.is-active {
    }
    &--ellipsis, .pager &--ellepsis:hover {
      background: none;
    }
    a {
      border-radius: 2px;
      padding: 10px;
      display: block;
      background: $color-blue;
      color: $c-2;
      line-height: 1;
      text-decoration: none;
      @at-root .pager__item.is-active & {
        background: darken($color-blue, 10%);
      }
    }
  }
}