@mixin social-link($icon, $size: 24) {

  $size: $size + px;

  font-size: 0;
  text-decoration: none;

  &::after {
    content: mdi($icon);
    font-family: "Material Design Icons";
    font-weight: inherit;
    line-height: 1;
    color: inherit;
    font-size: $size;
    @include transition();
  }
}
