.s-card {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  font-size: 16px;
  @include desktop {
    margin-bottom: 0;
  }

  &__image {
    position: relative;
    img {
      display: block;
      width: 100%;
      height: auto;
      font-size: 0;
    }
  }

  &__overlay {
    background: linear-gradient(to bottom, rgba($c-blue-D2, 0) 0%, rgba($c-blue-D2, 0.6) 30%, rgba($c-blue-D2, 0.9) 100%);
    position: absolute;
    z-index: 20;
    pointer-events: none;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    box-sizing: border-box;
    max-height: 100%;
    overflow: hidden;
    @include desktop {
      padding: 20px;
    }
  }

  &__info {
    color: $c-3-L10;
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.3;
    margin: 0;
  }

  &__link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0;
    z-index: 10;
    @include transition();
    &:hover {
      background: rgba($c-blue, 0.4);
    }

  }

  &--small {
    .s-card__overlay {
      padding: 10px 10px 5px;
    }
    .s-card__link:hover {
      background: rgba($c-blue-L2, 0.4);
    }
  }

  &--medium {

    @include tablet {
      font-size: 12px;
      width: 49%;
    }
    @include wide {
      font-size: 12px;
      width: 32%;
    }
    @include x-wide {
      font-size: 16px;
    }

    .s-user-line {
      padding-left: 25px;
      @include icon(account-outline, left, $fs-3, $c-3-L10);
      &__image {
        display: none;
      }
    }
    .s-card__label {

    }

  }

  &--large {
    @include desktop {
      font-size: 18px;
      margin-bottom: 2%;
    }
    @include x-wide {
      font-size: 22px;
    }
  }

  &--full {
    margin: 0;
    @include desktop {
      font-size: 1.2em;
    }

    .s-card {

      &__image-copyright {
        display: none;
        @include desktop {
          @include icon(camera, left, $fs-3, gray);
          padding-left: 25px;
          display: block;
          position: absolute;
          bottom: 10px;
          right: 10px;
          color: gray;
          font-size: 0.5em;
        }
      }

      &__overlay {
        @include desktop {
          padding: 20px 40px 40px;
        }
      }

      &__info {
        justify-content: flex-start;
      }

      &__rubric {
        position: absolute;
        right: 0;
        top: 0;
        background: rgba(244,126,24,0.7);
        @include transition();
        &:hover {
          background: rgba(244,126,24,1);
        }

        a {
          display: block;
          font-size: 0.65em;
          line-height: 2.25;
          color: white;
          text-decoration: none;
          padding: 0 10px;
          @include desktop {
            padding: 0 20px;
          }
        }
      }
    }
  }

  &--carousel {
    font-size: 1em;
    .s-card__overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 30%;
      top: 30%;
      padding: 20px 40px;
      background: linear-gradient(to bottom, rgba(4, 47, 85, 0) 0%, rgba(4, 47, 85, 0.7) 30%, rgba(4, 47, 85, 0.7) 70%, rgba(4, 47, 85, 0) 100%);
    }
    .s-card__label {
      pointer-events: none;
      text-align: center;
    }
  }
}

.region-front-2 {
  display: flex;
  justify-content: space-between;
}
#block-views-block-article-block-artfront {
  @include desktop {
    //width: 50%;
  }
}

