$mobile-width: 320px;
$tablet-width: 640px;
$desktop-width: 960px;
$wide-desktop-width: 1200px;
$x-wide-desktop-width: 1600px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin wide {
  @media (min-width: #{$wide-desktop-width}) {
    @content;
  }
}

@mixin x-wide {
  @media (min-width: #{$x-wide-desktop-width}) {
    @content;
  }
}