@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:700');
$ff-1: 'Open Sans', sans-serif;
$ff-2: 'Open Sans Condensed', sans-serif;

$fs-1: 16px; // Main font size (16px)
$fs-2: $fs-1*0.875; // 14px
$fs-3: $fs-1*1.125; // 18px


body {
  font-family: $ff-1;
  font-size: $fs-1;
  line-height: 1.5;
  @include x-wide {
    font-size: 18px;
  }
}