.s-banner {
  &__header {
    background: red;

    @include tablet {

    }
  }
  &--feed {
    width: 100%;
    margin-bottom: 0;
    .block {
      margin-bottom: 0;
      text-align: center;
    }
    #block-facebookpage {
      margin: 15px 0 20px;

      .block__title {
        font-size: 1em;
        margin: 0 0 10px;
        display: block;
        text-align: center;
        &::after {
          content: none;
        }
      }
    }
  }
}

#block-yandexrtb {
  margin-bottom: 20px;
}