.s-menu--footer.s-menu {
  margin: 0;
  padding: 0 5%;
  width: 100%;
  @include desktop {
    width: auto;
    padding: 0;
  }
  .s-header & {
    border-top: 1px solid $c-blue-L2;
  }
  .s-menu__item {
    display: inline-block;
    padding: 5px 20px;

    a {
      color: $c-blue-L1;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      @include transition();
      &.is-active {
        color: $c-blue-L1;
      }
      &:hover {
        color: $c-blue-L2;
        border-color: $c-blue-L2;
      }
      .s-header & {
        font-size: 0.9em;
      }
    }
    .s-header & {
      display: inline-block;
      vertical-align: top;
      box-sizing: border-box;
      width: 49%;
      padding: 10px 20px;
      line-height: 1.2;
      @include tablet {
        width: 24%;
        padding: 5px;
      }
      @include desktop {
        width: auto;
        padding: 5px 20px 0;
        &:last-child {
          padding-right: 0;
        }
      }
    }
    .s-footer & {
      &:last-child {
        padding-right: 0;
      }
    }
  }
}