.profit-table {
  border-spacing:0;
  border-collapse: collapse;
  font-size: 1em;
  width: 100%;
  @include desktop {
    width: auto;
  }

  &__header {
    padding: 5px;
    border: 1px solid $color-blue;
    font-size: 0.8em;
    background: rgba(244, 126, 24, 0.15);
  }

  &__data {

    border: 1px solid $color-blue;
    text-align: right;
    padding: 2px 5px;
    @include desktop {
      padding: 5px 10px;
    }
    &--source,
    &--total {
      padding: 0;
    }

    &--today {
      background: $c-blue-L3;
    }
    &--month {
      background: $c-orange-L3;
    }
  }


  tfoot, thead {
    .profit-table__data--today {
      background: $c-blue-L2;
    }
    .profit-table__data--month {
      background: $c-orange-L2;
    }
  }


  &__row--profit {
    .profit-table__data {
      width: 50%;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
  }

  &__uah {
    //font-size: 0.9em;
  }

  &__source {
    background: $c-blue;
    color: $c-white;
    text-transform: capitalize;
    text-align: center;
  }
  &__total {
    background: $c-blue-D1;
    color: $c-white;
    text-transform: capitalize;
    text-align: center;
  }

  &__more {
    font-size: 0.8em;
    margin-right: 10px;
  }
}


