.region {
  .block {
    margin-bottom: 15px;
    @include desktop {
      margin-bottom: 20px;
    }
    @include x-wide {
      margin-bottom: 30px;
    }
  }

  &-content {
    img {
      max-width: 100%;
      height: auto;
    }
  }


  &-content-bottom {
    @include pad;

    @include desktop {
      padding: 0;
    }
  }
  &-sidebar-first {
    //margin-top: 15px;
    width: 100%;
  }
  &-sidebar-second {
    @include pad;
    @include tablet {
      padding: 0;
    }
  }
  &-front-top {
    .block {
      //margin-top: 15px;
      @include desktop {
        //margin-top: 20px;
      }
      @include x-wide {
        //margin-top: 30px;
      }
    }

  }
  &-front-bottom {
    margin-top: 15px;
  }

  &-footer-second {
    .block {
      margin-bottom: 0;
    }
  }
}

#block-topics {
  @include pad;
  @include tablet {
    padding: 0;
  }
}