.s-social-menu {
  width: 100%;
  //border-bottom: 1px solid $c-blue-L2;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 10px;
  background: $c-blue-D2;
  border-radius: 3px;
  margin-bottom: 10px;
  border: 1px solid $c-gray;

  @include tablet {

  }

  @include desktop {
    display: block;
    width: auto;
    padding: 3px 5px;
  }


  &__label {
    display: block;
    width: 100%;
    //cursor: default;
    //display: none;
    margin: 0;
    color: $c-blue-L2;
    font-size: 0.75em;
    font-weight: normal;
    text-align: center;

    @include tablet {
      width: auto;
      &::after {
        content: ":";
        display: inline;
      }
    }
    @include desktop {
      //color: $c-blue-D2;
      display: block;
      color: $c-gray-L1;
      &::after {
        content: none;
      }
    }
  }

  &__items {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    @include desktop {
      display: inline-block;
    }
  }

  &__item {
    display: inline-block;
    padding: 0 3px;
    &:last-child {
      padding-right: 0;
    }

    a {
      font-size: 0;
      color: $c-white;
      text-decoration: none;
      //transition: color 0.3s;
      @include desktop {
        color: $c-gray-L1;
      }

      &:hover {
        color: #f47e18;
        text-decoration: none;
      }
      &::after {
        font-family: "Material Design Icons";
        font-size: 1.5rem;
        line-height: 1;
        font-weight: normal;
        color: inherit;
        @include desktop {
          font-size: 1.2rem;
        }
        @include x-wide {
          font-size: 1.5rem;
        }
      }

      &[href*="facebook"]::after {
        content: mdi(facebook);
      }
      &[href*="twitter"]::after {
        content: mdi(twitter);
      }
      &[href*="google"]::after {
        content: mdi(google-plus);
      }
      &[href*="vk.com"]::after {
        content: mdi(vk);
      }
      &[href*="youtube"]::after {
        content: mdi(youtube-tv);
      }
      &[href*="t.me"]::after {
        content: mdi(telegram);
      }
    }
  }
}