.s-teaser {
  position: relative;
  overflow: hidden;
  margin: 0 0 10px;
  padding: 10px;
  background: $c-white;
  font-size: 16px;
  @include transition();
  &:hover {
    background: $c-blue-L3;
  }
  //width: 100%;
  @include desktop {
    padding: 20px;
  }
  @include wide {
    font-size: 18px;
    margin: 0 0 20px;
  }
  @include x-wide {
    font-size: 20px;
  }

  .s-info-line {
    font-size: 14px;
  }

  //&__label {
  //  display: block;
  //  color: $c-4;
  //  font-size: 1.4em;
  //  font-weight: bold;
  //  line-height: 1.3;
  //  margin: 0 0 10px;
  //  @include desktop {
  //    margin: 0 0 20px;
  //  }
  //}

  &__label {
    display: block;
    margin: 0 0 10px;
    line-height: 1;
    font-size: 22px;
    font-family: $ff-2;
    color: $c-blue-D1;
    @include desktop {
      font-size: 30px;
    }
  }

  &__content {
    @include desktop {
      display: flex;
      justify-content: space-between;
      //margin: 1%;
    }
  }

  &__image {
    @include desktop {
      width: 33%;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
      font-size: 0;
    }
  }
  &__info {

    @include desktop {
      padding-left: 20px;
      width: 66%;
    }
  }

  &__body {
    p {
      margin: 0;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0;
    @include transition();
    &:hover {
      //background: rgba($c-blue-L2,0.2);
    }
  }
}

