<div class="style-color">
  <div class="style-color__group style-color__group--blue">
    <div class="style-color__item style-color__item--D3">Sample Text</div>
    <div class="style-color__item style-color__item--D2">Sample Text</div>
    <div class="style-color__item style-color__item--D1">Sample Text</div>
    <div class="style-color__item style-color__item--base">Sample Text</div>
    <div class="style-color__item style-color__item--L1">Sample Text</div>
    <div class="style-color__item style-color__item--T1">Sample Text</div>
    <div class="style-color__item style-color__item--L2">Sample Text</div>
    <div class="style-color__item style-color__item--T2">Sample Text</div>
    <div class="style-color__item style-color__item--L3">Sample Text</div>
    <div class="style-color__item style-color__item--T3">Sample Text</div>
  </div>
  <div class="style-color__group style-color__group--gray">
    <div class="style-color__item style-color__item--D3">Sample Text</div>
    <div class="style-color__item style-color__item--D2">Sample Text</div>
    <div class="style-color__item style-color__item--D1">Sample Text</div>
    <div class="style-color__item">Sample Text</div>
    <div class="style-color__item style-color__item--L1">Sample Text</div>
    <div class="style-color__item style-color__item--L2">Sample Text</div>
    <div class="style-color__item style-color__item--L3">Sample Text</div>
  </div>
  <div class="style-color__group style-color__group--orange">
    <div class="style-color__item style-color__item--D3">Sample Text</div>
    <div class="style-color__item style-color__item--D2">Sample Text</div>
    <div class="style-color__item style-color__item--D1">Sample Text</div>
    <div class="style-color__item style-color__item--base">Sample Text</div>
    <div class="style-color__item style-color__item--L1">Sample Text</div>
    <div class="style-color__item style-color__item--L2">Sample Text</div>
    <div class="style-color__item style-color__item--L3">Sample Text</div>
  </div>
</div>